/*------------------------------------------------------------------
[Table of contents]

1. Group button on top menu
2. Latest deals products
3. Products list
4. Header
5. Category featured
6. Banner bottom
8. Services
9. Footer
10. Owl carousel vertical
11. Styles for devices(>1200px)
12. Styles for devices(>=992px and <=1199px)
13. Styles for devices(>=768px and <=992px)
14. Styles for devices(>=481px and <=767px)
15. Styles for devices(<=480px)

-------------------------------------------------------------------*/

.tree-menu li:hover>a,
.tree-menu li.active>a,
.tree-menu li:hover>span:before,
.tree-menu li.active>span:before {
    color: #43af50 !important;
}

.btn-add-cart {
    background: #43af50;
}

.green #main-menu .navbar .navbar-nav>li>a span.notify-right {
    top: -20px;
    left: 40%;
    text-transform: uppercase;
}


/*-------------------
[2. Latest deals products]
*/

.latest-deals-product {
    margin-top: 20px;
    position: relative;
}

.latest-deals-product .count-down-time2 {
    position: absolute;
    top: -61px;
    right: 80px;
}

.latest-deals-product .product-list li {
    border: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 5px;
}

.latest-deals-product .product-list li:hover {
    border: 1px solid #43af50;
}

.latest-deals-product .owl-next {
    top: -40px;
}

.latest-deals-product .owl-prev {
    top: -40px;
    left: inherit;
    right: 26px;
}


/*
[3. Products list]
*/

.green .product-list li .quick-view {
    right: 10px;
}

.green .product-list li .quick-view a:hover {
    background: #43af50;
}

.green .product-list li .add-to-cart:hover {
    background: #43af50;
}

.green .product-list li .product-price {
    color: #43af50;
    margin-bottom: 10px;
    display: inline-block;
}


/*
[4. Header ]
*/

.green .logo {
    text-align: center;
}

.green .top-header img {
    margin-top: -5px;
}

.green .top-header a.current-open:after {
    font-size: 13px;
}

.green .top-header {
    background: #eee;
    font-size: 13px;
}

.green .cart-block {
    margin-top: 5px;
}

.green .cart-block .cart-block-content .product-info .p-right .p-rice {
    color: #43af50;
}

.green #shopping-cart-box-ontop .cart-block {
    margin-top: 0;
}

.green a:hover {
    color: #43af50;
}

.green .top-header .dropdown-menu {
    border-top: 2px solid #43af50;
}

.green .main-header .header-search-box {
    padding: 0 15px;
}

.green .main-header .header-search-box .form-inline .form-category {
    float: right;
    margin-right: 40px;
    border-left: 1px solid #eaeaea;
}

.green .main-header .header-search-box .form-inline .input-serach {
    padding-top: 9px;
}

.green .main-header .header-search-box .form-inline .btn-search {
    background: none;
    border-left: 1px solid #eaeaea;
    color: #43af50;
    font-size: 16px;
}

.green .main-header .header-search-box .form-inline .btn-search .fa {
    line-height: inherit;
}

.green .group-button-header .btn-cart {
    background: url("../images/user.png") no-repeat center center;
}

.green .group-button-header .btn-heart {
    background: url("../images/icon-heart-round5.png") no-repeat center center;
}

.green .group-button-header .btn-compare {
    background: url("../images/icon-compare-round5.png") no-repeat center center;
}

.green .nav-top-menu.nav-ontop {
    background: #43af50;
    height: 51px;
}

.green #form-search-opntop .btn-search .fa {
    display: none;
}

.green #box-vertical-megamenus {
    width: 85px;
    padding: 0;
}

.green #main-menu .navbar {
    border-radius: 0;
    background: #43af50;
}

.green #main-menu .navbar-default .navbar-nav>li>a {
    color: #fff;
    border-right: none;
}

.green #main-menu .navbar-default .navbar-nav>li:last-child>a {
    background: none;
}

.green #main-menu .navbar .navbar-nav>li:hover,
.green #main-menu .navbar .navbar-nav>li.active {
    background-image: none;
    background: #ff7043;
}

.green #main-menu .navbar .navbar-nav>li:hover a,
.green #main-menu .navbar .navbar-nav>li.active a {
    background: none;
}

.green #main-menu li.dropdown>a:after {
    position: absolute;
    left: 46%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15px;
    font-size: 12px;
}

.green #main-menu li.dropdown:hover:before {
    display: none;
}

.green .box-vertical-megamenus .title {
    background: #ff7043;
}

.green .box-vertical-megamenus .vertical-menu-content {
    border-top: none;
    min-width: 270px;
    border-right: 1px solid #eaeaea;
}

.green #main-menu {
    width: 100%;
    padding: 0 15px;
    margin: 0;
    margin-top: -1px;
}

.green .nav-ontop #box-vertical-megamenus .title {
    background: #ff7043;
    color: #fff;
    border-left: none;
    text-align: center;
    height: 51px;
}

.green .nav-ontop #box-vertical-megamenus .title .btn-open-mobile {
    margin: 0;
}

.green .nav-ontop #box-vertical-megamenus .box-vertical-megamenus {
    top: 0;
}

.green #form-search-opntop .btn-search:before {
    color: #fff;
}

.green #form-search-opntop form .input-serach input {
    color: #fff;
}

.green #form-search-opntop form .input-serach input .green #form-search-opntop form .input-serach input::-webkit-input-placeholder {
    color: #fff;
}

.green #form-search-opntop form .input-serach input::-webkit-input-placeholder {
    color: #fff;
}

.green #form-search-opntop form .input-serach input::-webkit-input-placeholder {
    color: #fff;
}

.green #form-search-opntop:hover form {
    border: 1px solid #dfdfdf;
    background: #43af50;
}

.green #user-info-opntop a.current-open:before {
    color: #fff;
}

.green #shopping-cart-box-ontop .fa {
    color: #fff;
}

.green .header-top-right {
    border-top: none;
    margin: 0;
    padding: 0 15px;
}

.green .header-top-right .homeslider {
    width: 100%;
}

.green .header-top-right .homeslider .bx-controls-direction .bx-prev,
.green .header-top-right .homeslider .bx-controls-direction .bx-next {
    background: #43af50;
}

.green .header-top-right .homeslider .bx-wrapper .bx-pager,
.green .bx-wrapper .bx-controls-auto {
    text-align: center;
}

.green .header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item a {
    background: #fff;
    font-size: 0;
    border-color: #fff;
    width: 14px;
    height: 14px;
}

.green .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.green .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #43af50;
    border-color: #43af50;
}

.green #main-menu .navbar-default .navbar-nav>li>a {
    color: #fff;
    background: url('../images/kak2.png') no-repeat right center;
    border-right: none;
}

.green .box-vertical-megamenus .vertical-menu-list {
    padding-top: 4px;
}

.green .box-vertical-megamenus .vertical-menu-list li {
    border: none;
    padding: 0 20px;
}

.green .box-vertical-megamenus .vertical-menu-list>li:hover {
    background: #43af50;
}

.green .box-vertical-megamenus .vertical-menu-list>li:hover>a {
    color: #fff;
    border-color: transparent;
}

.green .box-vertical-megamenus .vertical-menu-list>li:hover>a:before {
    color: #fff;
}

.green .box-vertical-megamenus .vertical-menu-list:li:last-child>a {
    border: none;
}

.green .box-vertical-megamenus .vertical-menu-list>li>a {
    border: none;
    padding-left: 0;
    border-bottom: 1px dotted #eaeaea;
    line-height: 36px;
}

.green .box-vertical-megamenus .vertical-menu-list li:hover {
    border-left: none;
}

.green .box-vertical-megamenus .vertical-menu-list li:hover>a {
    border-top: none;
}

.green .box-vertical-megamenus .all-category {
    margin-top: 0px;
    padding-right: 0;
}

.green .vertical-dropdown-menu .mega-group-header span {
    border-color: #43af50;
}

.green .box-vertical-megamenus .all-category span:hover {
    background: #43af50;
    color: #fff;
    border-color: #43af50;
}

.green .box-vertical-megamenus .all-category span:after {
    content: "\f101";
    font-size: 16px;
    font-weight: normal;
}

.green .box-vertical-megamenus .vertical-menu-content ul>li>a.parent:before {
    right: 20px;
}

.green .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price {
    color: #43af50;
}

.green .cart-block .cart-block-content .cart-buttons a.btn-check-out {
    background: #43af50;
}

.green .page-heading {
    font-size: 16px;
    font-weight: bold;
}

.green .page-heading span.page-heading-title {
    border-bottom: 3px solid #43af50;
}

.green .owl-controls .owl-prev:hover,
.green .owl-controls .owl-next:hover {
    background: #43af50;
    color: #fff;
}

.green .content-page {
    background: #eaeaea;
}

.green #main-menu .dropdown-menu .block-container .group_header>a {
    border-color: #43af50;
}


/*
[5. Category featured]
*/

.green .show-brand .navbar-brand {
    width: 280px;
    position: relative;
    padding-left: 10px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
}

.green .show-brand .navbar-brand img {
    margin-right: 10px;
}

.green .show-brand .navbar-brand>a:hover {
    color: #fff;
}

.green .show-brand .navbar-brand:after {
    content: '';
    width: 12px;
    height: 20px;
    position: absolute;
    right: 5px;
    color: #fff;
    font-weight: normal;
    /*background: url("../images/icon-angle-right.png") no-repeat right center;*/
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.green .nav-menu {
    margin-bottom: 0;
}

.green .nav-menu .nav>li>a {
    background: none;
    padding: 14px 15px;
    margin-left: 10px;
}

.green .nav-menu .nav>li>a:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d8";
    position: absolute;
    bottom: -40px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
    visibility: hidden;
}

.green .nav-menu .nav>li>a:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #fa8334;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: scale(0, 1);
}

.green .nav-menu .navbar-collapse {
    //background: #fff;
    border-bottom: 2px solid #fa8334;
}

.green .nav-menu .nav>li:hover a,
.green .nav-menu .nav>li.active a {}

.green .nav-menu .nav>li:hover a:before,
.green .nav-menu .nav>li.active a:before {
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.green .nav-menu .nav>li:hover a:after,
.green .nav-menu .nav>li.active a:after {
    color: #fa8334;
    bottom: -6px;
    opacity: 1;
    visibility: inherit;
}

.green .product-featured {
    margin-top: 0;
}

.green .product-featured .sub-category-list {
    float: left;
    padding: 20px 30px;
    line-height: 30px;
    background: #fff;
}

.green .product-featured .product-featured-tab-content {}

.green .product-featured .product-featured-tab-content .box-left {
    width: 40%;
    float: left;
    border-left: 1px solid #eaeaea;
}

.green .product-featured .product-featured-tab-content .box-right {
    /*width: 60%;*/
    float: left;
}

.green .product-featured .product-featured-tab-content .box-full {
    width: 100%;
    float: left;
    border-left: 1px solid #eaeaea;
}

.green .product-featured .product-featured-tab-content .box-full .product-list li {
    width: 20%;
    float: left;
    border-bottom: none;
}

.green .product-featured .product-featured-tab-content .category-banner {
    padding-right: 0;
}

.green .product-featured .product-featured-tab-content .category-banner img {}

.green .product-featured .product-featured-tab-content .category-list-product {
    padding-left: 0;
}

.green .product-featured .product-list {
    margin-left: 0;
    margin-right: 0;
}

.green .product-featured .product-list li {
    padding: 0;
    min-height: inherit;
    border: 1px solid #eaeaea;
    padding-bottom: 3px;
    min-height: 267px;
}

.green .product-featured .product-list li:hover {
    border: 1px solid #43af50;
}

.green .product-featured .owl-prev,
.green .product-featured .owl-next {
    background: transparent;
    width: 28px;
    height: 28px;
    color: #ccc;
    text-align: center;
    padding-top: 0;
    font-size: 48px;
}

.green .product-featured .owl-next {
    background: url("../images/next.png") no-repeat center center;
}

.green .product-featured .owl-prev {
    background: url("../images/prev.png") no-repeat center center;
}

.green .product-featured .owl-prev .fa,
.green .product-featured .owl-next .fa {
    font-weight: normal;
    line-height: 28px;
    display: none;
}

.green .product-featured .owl-prev:hover {
    background: url("../images/prev.png") no-repeat center center;
}

.green .product-featured .owl-next:hover {
    background: url("../images/next.png") no-repeat center center;
}

.green .product-featured .deal-product {
    line-height: 24px;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 23px;
}

.green .product-featured .deal-product .deal-product-head {
    text-align: center;
}

.green .product-featured .deal-product .deal-product-head h3 {
    position: relative;
    z-index: 1;
    margin-top: 15px;
}

.green .product-featured .deal-product .deal-product-head h3:before {
    border-top: 1px solid #eaeaea;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 40%;
    left: 40px;
    right: 40px;
    bottom: 0;
    width: 95%;
    z-index: -1;
    width: 300px;
    /*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.green .product-featured .deal-product .deal-product-head h3>span {
    background: #fff;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.green .product-featured .deal-product .deal-product-content .deal-product-info {
    padding-left: 0;
}

.green .product-featured .deal-product .deal-product-content {
    margin-top: 10px;
}

.green .product-featured .deal-product .price {
    margin-top: 4px;
}

.green .product-featured .deal-product .price span {
    margin-right: 10px;
}

.green .product-featured .deal-product .price .product-price {
    color: #43af50;
    font-size: 18px;
}

.green .product-featured .deal-product .price .old-price {
    text-decoration: line-through;
}

.green .product-featured .deal-product .price .sale-price {
    background: url("../images/sale-bg.png") no-repeat;
    color: #fff;
    padding: 0 7px;
}

.green .product-featured .deal-product .product-star {
    color: #febf2b;
    margin-top: 15px;
}

.green .product-featured .deal-product .product-desc {
    margin-top: -3px;
}

.green .product-featured .deal-product .show-count-down {
    overflow: hidden;
    margin-top: 11px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: normal;
}

.green .product-featured .deal-product .show-count-down .dot {
    display: none;
}

.green .product-featured .deal-product .show-count-down .box-count {
    font-size: 20px;
    color: #717171;
    background: #f6f6f6;
    text-align: center;
    width: 45px;
    height: 47px;
    display: table-cell;
    float: left;
    margin-right: 5px;
}

.green .product-featured .deal-product .show-count-down .box-count .number {
    width: 45px;
    font-size: 18px;
    display: table;
    margin-top: 4px;
}

.green .product-featured .deal-product .show-count-down .box-count .text {
    width: 45px;
    font-size: 14px;
    display: table;
}

.green .product-featured .manufacture-list {
    padding-right: 0;
    float: left;
    overflow: hidden;
}

.green .product-featured .manufacture-list .manufacture-waper {
    border: 1px solid #eaeaea;
    padding: 44px 0px 44px 0;
    border-top: none;
    position: relative;
    border-bottom: none;
}

.green .product-featured .manufacture-list .manufacture-waper ul {
    padding: 0 20px;
    background: #fff;
}

.green .product-featured .manufacture-list .manufacture-waper .owl-prev {
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eaeaea;
}

.green .product-featured .manufacture-list .manufacture-waper .owl-next {
    position: absolute;
    bottom: -64px;
    top: inherit;
    left: 0;
    right: 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding-top: 12px;
    height: 42px;
}

.green .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav {
    margin: 0;
    padding: 0;
}

.green .product-list li .add-to-cart:hover {
    opacity: 1;
}

.green .product-list li .add-to-cart a {
    background: url("../images/icon-cart-option2.png") no-repeat left center;
}

.green .product-list li .quick-view a.compare:before {
    content: "\f066";
}


/*-----------------*/


/** OPTION CATEGORY **/


/** Vegetables **/

.green .category-featured.Vegetables .sub-category-list a:hover {
    color: #00a360;
}

.green .category-featured.Vegetables .navbar-brand {
    background: #00a360;
}

.green .category-featured.Vegetables .navbar-brand a:hover {
    color: #fff;
}

.green .category-featured.Vegetables .nav-menu .navbar-collapse {
    //background: #fff;
    border-bottom: 2px solid #00a360;
}

.green .category-featured.Vegetables .nav-menu .nav>li:hover a,
.green .category-featured.Vegetables .nav-menu .nav>li.active a {
    color: #00a360;
}

.green .category-featured.Vegetables .nav-menu .nav>li:hover a:after,
.green .category-featured.Vegetables .nav-menu .nav>li.active a:after {
    color: #00a360;
}

.green .category-featured.Vegetables .nav-menu .nav>li>a:before {
    background: #00a360;
}

.green .category-featured.Vegetables .product-list li .add-to-cart {
    background-color: rgba(0, 163, 96, 0.7);
    background: rgba(0, 163, 96, 0.7);
    color: rgba(0, 163, 96, 0.7);
}

.green .category-featured.Vegetables .product-list li .add-to-cart:hover {
    background: #00a360;
}

.green .category-featured.Vegetables .product-list li .quick-view a.search:hover,
.green .category-featured.Vegetables .product-list li .quick-view a.compare:hover,
.green .category-featured.Vegetables .product-list li .quick-view a.heart:hover {
    background-color: #00a360;
    opacity: 0.9;
}


/****/


/*-----------------
[6. Banner bootom
*/

.green .banner-bottom .item-left {
    padding-right: 0;
}

.green .banner-bottom .item-right {
    padding-left: 0;
}


/*--------------
[8. Services]
*/

.services2 {
    margin-top: 30px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
}

.services2 .services2-item {
    padding: 0;
    border-left: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    min-height: 120px;
}

.services2 .services2-item .image {
    text-align: center;
    color: #333333;
    padding-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.services2 .services2-item .image h3 {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    margin-top: 10px;
}

.services2 .services2-item .text {
    padding-top: 15px;
    color: #919191;
    padding-left: 0;
    padding-right: 30px;
}


/*--------------
[9. Footer]
*/

.green #footer {
    /* margin-top: 40px; */
}

.green #mail-box .btn {
    background: #43af50;
}

.green .scroll_top:hover {
    background: #43af50;
}


/*-----------------
[10. Owl carousel vertical]
*/

.owl-carousel-vertical .owl-next,
.owl-carousel-vertical .owl-prev {
    position: inherit;
    width: 100%!important;
    height: 17px;
    margin: 0 auto;
    float: left;
    opacity: 1;
    visibility: inherit;
    background: none;
}

.owl-carousel-vertical .owl-controls .owl-nav {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    width: 100%!important;
    float: left;
}

.green .product-featured .owl-carousel-vertical .owl-controls .owl-nav {
    margin-top: 26px;
    padding-left: 30px;
}

.green .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-next,
.green .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-prev {
    background: none;
}

.green .blog-list .blog-list-wapper ul li .readmore a {
    color: #43af50;
}


/*-----------------*/


/*RELATED PRODUCTS*/


/*--------------------*/

.green .page-product-box .product-list li:hover {
    border: 1px solid #43af50;
}


/** REPONSIVE **/


/*----------------
[11. Styles for devices(>1200px)]
*/

@media (min-width: 1201px) {}


/*----------------
[12. Styles for devices(>=993px and <=1200px)]
*/

@media (min-width: 993px) and (max-width: 1200px) {
    .green .group-button-header {
        width: 25%;
        float: right;
    }
    .green .sub-category-wapper {
        width: 15%;
        display: none;
    }
    .green .col-right-tab {
        width: 100%;
    }
    .green .product-featured .manufacture-list .manufacture-waper {
        display: none;
    }
    .green .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
    }
    .green .product-featured .product-featured-tab-content .category-list-product .product-list {
        border-left: 1px solid #eaeaea;
    }
    .green .main-header .header-search-box {
        width: 40%;
    }
    .green #home-slider .header-top-right .homeslider,
    .green #home-slider .header-top-right .header-banner {
        border: none;
    }
}


/*--------------------
[13. Styles for devices(>=768px and <=992px)]
*/

@media (min-width: 768px) and (max-width: 992px) {
    .green .group-button-header {
        float: right;
        margin-top: 30px;
    }
    .green .main-header .logo {
        width: inherit;
        margin-top: 15px;
    }
    .green .nav-menu .nav>li>a {
        padding: 14px 10px;
        margin-left: 0;
    }
    .green .product-featured .product-featured-tab-content .box-left {
        width: 100%;
    }
    .green .product-featured .product-featured-tab-content .box-right {
        width: 100%;
        border-left: 1px solid #eaeaea;
    }
    .green .sub-category-wapper {
        width: 20%;
    }
    .green .col-right-tab {
        width: 80%;
    }
    .green .show-brand .navbar-brand {
        width: 21%;
        padding-right: 30px;
        font-size: 14px;
        font-weight: bold;
    }
    .green .product-featured .sub-category-list {
        padding: 10px;
    }
    .green .product-featured .box-left .banner-img {
        display: none;
    }
    .green .product-featured .manufacture-list .manufacture-waper {
        display: none;
    }
    .green .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 33.3333%;
    }
    .green .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
    }
    .green .product-featured .product-featured-tab-content .category-list-product .product-list {
        border-left: 1px solid #eaeaea;
    }
    .green .product-featured .product-featured-tab-content .category-list-product .product-list li {
        width: 33.3333%;
    }
}


/*--------------------
[14. Styles for devices(>=481px and <=767px)]
*/

@media (min-width: 481px) and (max-width: 767px) {
    .group-button-header {
        margin-top: 30px;
    }
    .green .logo {
        margin-top: 15px;
    }
    .main-header .group-button-header .btn-cart:hover .cart-block {
        display: none;
    }
    .green .main-header .header-search-box {
        padding-right: 15px;
    }
    .green #main-menu .navbar {
        background: none;
    }
    .green #main-menu .navbar-header {
        background: #43af50;
    }
    .green #main-menu .navbar-default .navbar-nav>li>a {
        background: none;
        color: #999;
    }
    .green #main-menu li.dropdown>a:after {
        position: absolute;
        left: inherit;
        right: 10px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        font-size: 12px;
    }
    .green #main-menu .navbar .navbar-nav>li:hover,
    .green #main-menu .navbar .navbar-nav>li.active {
        background: none;
    }
    .latest-deals-product .owl-prev {
        top: 50%;
        left: 0;
        right: inherit;
    }
    .latest-deals-product .owl-next {
        top: 50%;
    }
    .green .content-page {
        margin-top: 30px;
    }
    .green .nav-menu {
        background: #ccc;
    }
    .green .nav-menu .nav>li>a {
        margin-left: 0;
        padding: 5px 15px;
    }
    .green .nav-menu .nav>li>a:after {
        display: none;
    }
    .green .product-featured .sub-category-wapper {
        width: 100%;
        padding: 15px;
        display: none;
    }
    .green .product-featured .product-featured-tab-content .box-left {
        width: 100%;
        display: none;
    }
    .green .product-featured .product-featured-tab-content .box-right {
        width: 100%;
        border-left: 1px solid #eaeaea;
    }
    .green .product-featured .deal-product .deal-product-content .deal-product-info {
        padding-left: 15px;
    }
    .green .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 50%;
        float: left;
    }
    .services2 .services2-item .image {
        padding: 15px 30px 0 30px;
    }
    .services2 .services2-item .text {
        padding: 15px 30px;
        text-align: center;
    }
    .green .product-featured .manufacture-list {
        display: none;
    }
    .green .product-featured .product-list li {
        /*width: 50%;*/
        float: left;
    }
    .green .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
        border-left: 1px solid #eaeaea;
    }
    .green #main-menu {
        padding: 0;
    }
    .green #main-menu .navbar-header {
        margin: 0;
    }
    .green #box-vertical-megamenus {
        display: none;
    }
    .green #main-menu .navbar-collapse {
        margin-left: 0;
    }
}


/*--------------------
[15. Styles for devices(<=480px)]
*/

@media (max-width: 480px) {
    .group-button-header {
        width: 100%;
        margin-top: 30px;
    }
    .green .logo {
        width: 100%;
        margin-top: 15px;
    }
    .main-header .group-button-header .btn-cart:hover .cart-block {
        display: none;
    }
    .green .main-header .header-search-box {
        padding-right: 15px;
    }
    .green #main-menu .navbar {
        background: none;
    }
    .green #main-menu .navbar-header {
        background: #43af50;
    }
    .green #main-menu .navbar-default .navbar-nav>li>a {
        background: none;
        color: #999;
    }
    .green #main-menu li.dropdown>a:after {
        position: absolute;
        left: inherit;
        right: 10px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        font-size: 12px;
    }
    .green #main-menu .navbar .navbar-nav>li:hover,
    .green #main-menu .navbar .navbar-nav>li.active {
        background: none;
    }
    .latest-deals-product .owl-prev {
        top: 50%;
        left: 0;
        right: inherit;
    }
    .latest-deals-product .owl-next {
        top: 50%;
    }
    .green .content-page {
        margin-top: 30px;
    }
    .green .nav-menu {
        background: #ccc;
    }
    .green .nav-menu .nav>li>a {
        margin-left: 0;
        padding: 5px 15px;
    }
    .green .nav-menu .nav>li>a:after {
        display: none;
    }
    .green .product-featured .sub-category-wapper {
        display: none;
    }
    .green .product-featured .product-featured-tab-content .box-left {
        width: 100%;
        display: none;
    }
    .green .product-featured .product-featured-tab-content .box-right {
        width: 100%;
    }
    .green .product-featured .deal-product .deal-product-content .deal-product-info {
        padding-left: 15px;
    }
    .green .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 100%;
    }
    .services2 .services2-item .image {
        padding: 15px 30px 0 30px;
    }
    .services2 .services2-item .text {
        padding: 15px 30px;
        text-align: center;
    }
    .green .product-featured .manufacture-list {
        display: none;
    }
    /*.green .product-featured .product-list li{*/
    /*border-right: none;*/
    /*}*/
    .green .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
        border-left: 1px solid #eaeaea;
    }
    .green #main-menu {
        padding: 0;
    }
    .green #main-menu .navbar-header {
        margin: 0;
    }
    .green #box-vertical-megamenus {
        display: none;
    }
    .green #main-menu .navbar-collapse {
        margin-left: 0;
    }
}